@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-size: 2vw;
}
:root {
  --primary-color: #0e0e0e;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--primary-color);
  display: grid;
  place-content: center;
}
#main {
  text-align: center;
}
#home {
  padding: 20px;
}
#title {
  font-size: 1rem;
  font-family: "Days One", sans-serif;
  margin: 30px auto 60px;
  display: inline-block;
}
#title > h5 {
  font-family: "Acme", sans-serif;
  font-size: .6rem;
  float: right;
  transform: rotate(-12deg);
  margin-top: -5px;
  margin-right: -2rem;
}
#buttons {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#buttons > h3 {
  font-family: "Acme", sans-serif;
  font-size: 1.6rem;
  margin: 0 30px;
}
button {
  background-color: var(--primary-color);
  padding: 10px 25px;
  font-size: .5rem;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: .3s all ease;
}
button:nth-child(1) {
  position: relative;
  cursor: not-allowed;
}
button:last-child:hover {
  background-color: #fff;
  color: var(--primary-color);
}
.flag {
  position: absolute;
  background-color: #f00;
  transform: rotate(-14deg);
  left: -5px;
  padding: 5px 28px;
  top: -2px;
  border-radius: 5px;
  font-size: .8rem;
  cursor: not-allowed;
}
